<!DOCTYPE html>
<html lang="en">
<head>
    <div className='Home'>
        <h1>Hello, <%= user.name %></h1>
        <h2 className='homeBlurb'>Welcome to BonusStageGames!</h2>
        <strong>
          <p className='homeDesc'>
            BonusStageGames is a site dedicated to gamers to lookup, review, and
            buy games dating all the way back to the Atari 2600 to the present day
            PS5, Xbox Series X, Switch, and even PCs.
          </p>
        </strong>
      </div>
</html>